/** Define Theme Constants here */
#Constants {
    includeNativeBool: true;
    defaultSourceDPIInt: "0";
    --paletteDarkBlue: #FAFAFA;
    --paletteLightBlue: #E3F2FD;
    --paletteGreen: #DB5461;
    --paletteRed: #686963;
    --paletteOrange: #8AA29E;
    --backgroundColor: white;
    --formHeaderColor: #075b7f;
}

Form{
    background-color: var(--backgroundColor);


}

/** Style for Button class */
Button {
    font-family: "native:MainLight";
    font-size: 3mm;
}

/** Style for App Title Bar Text */
Title {

    font-size: 3mm;
    font-family: "native:MainLight";
}

TitleArea{
    background-color: #74b9ff;
}

/** Style for Dialog body */
DialogBody {
    font-family: "native:MainLight";
    font-size: 2.8mm;
}

RoundBorder.unselected{
    border: 2px cn1-pill-border black;
    text-align:left;
    margin:1mm;
    padding:3mm;
}

RoundBorder.selected {
    border: 2px cn1-pill-border black;
    text-align:left;
    margin:1mm;
    padding:3mm;
    background: #dfe6e9;
}


/** Style for Dialog title bar text */
DialogTitle {
    font-family: "native:MainLight";
    font-size: 4.5mm;
}

/** Style for the side menu */
SideNavigationPanel {
    background: white;
    padding: 2mm 1mm 1mm 1mm;
}

@media platform-ios {
    /** iOS Only styles for side menu. */
    SideNavigationPanel {
        /** Extra top padding to deal with notch on iPhoneX */
        padding: 6mm 1mm 1mm 1mm;
    }
}

/** Style for commands in side menu. */
SideCommand {
    padding: 1mm;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "native:MainLight";
    font-size: 4mm;
    border-bottom: 2px solid #cccccc;
}

LetterGrade{
    font-size: 5mm;
    text-align: center;
    margin: 0mm;
    padding: 0mm;
}

Percent{
    text-align: center;
    margin: 0mm;
    padding: 0mm;
    font-family: "native:MainLight";
    font-size: 2.5mm;
    color: #2d3436;
}

CourseName{
    font-size: 3mm;
    text-align: left;
    color: #2d3436;
}

Teacher{
    font-size: 2mm;
    text-align: left;
    color: #636e72;
}

Period{
    text-align: left;
    font-family: "native:MainLight";
    font-size: 2mm;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm;

}

GradeGrid{
    /*display: block; was causing compilation errors*/
    width: 500px;
    background-color: #dfe6e9;
    margin: 5px 20px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
}

GradePercentV{
    margin: 0mm;
    padding: 1mm;
}

SignInWarning{
    text-align: center;
    color: red;
    font-size: 3mm;
}

RememberCheck{
    color: white;
    background: grey;
}
